html, body {
  padding: 20px;
  height: 100%;
  font-family: 'Cousine', 'sans-serif';
  font-size: 1.1em;
  color: #424242;
  background-color: #f5f6f6;
}

div.input {
  margin: 40px auto;
  font-size: 45px;
  text-align: center;
}

div.button {
  border: 1px solid rgb(232, 92, 65);
  border-radius: 20px;
  background: linear-gradient(rgb(251, 131, 8), rgb(232, 92, 65));
  color: white;
  padding: 10px;
  font-size: 40px;
  width: 200px;
  margin: auto;
}
div.button:hover {
  background: linear-gradient(rgb(232, 92, 65), rgb(219, 58, 27));
}